.efpage{
    background-color:#efe9e4;
}

.testing{
    display: flex;
    justify-content: space-evenly; 
}

.intro{
    margin-top: 20px;
    text-align: center;
    font-size: 5em;
    border: 1px #efe9e4 solid;
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient(
        #ff8000 16.666%, 
        #ff8000 16.666%, 
        #e9e9e9 33.333%, 
        #ff8000 33.333%, 
        #ff8000 50%, 
        #ff8000 50%, 
        #e3e3e3 66.666%, 
        #ff8000 66.666%, 
        #dfdfdf 83.333%, 
        #ff8000 83.333%);
        background-size: 57%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        animation: rainbow-text-animation-rev 3s ease forwards;
        cursor:pointer;
}

.intro:hover{
    animation: rainbow-text-animation 3s ease forwards;
}



.flyerimg{
    width: 500px;
    height: 300px;
    
    
}

.flyername{
    font-size: 20px;
    text-align: center;
}

.flyerdate{
    font-size: 15px;
    text-align: center;
}