.wholenav{
    padding-bottom: 20px;
    border-bottom: 2px rgb(205, 205, 205) solid; 
}




.nav{
    display: flex;
    justify-content: space-between;
    


    height: 35px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}







 li{
    padding-left: 0.5em;
    padding-right: 0.5em;
}
/*
.logoandname{
    display: flex;
    flex-direction: row;
}
.replib{
    display: flex;
    justify-content: center;
    color: rgb(227, 121, 1);
    font-family: serif;
    font-style: oblique;
    
}
*/

.linkspacing{
    padding-top: 10px;
}

a{
    color: black;
    text-decoration: none;
    
}

a:hover{
    color: #FF8000;
}

.logo1{
    height: 45px;
} 

