.wholenav{
    /* text-decoration: underline; */
    padding-bottom: 20px;
    border-bottom: 2px rgb(205, 205, 205) solid;

    
}
.justbc{
    
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgb(237, 130, 0));
    
}


.nav{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 30px;
    
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

li{
    padding-left: 1em;  
}

.logoandname{
    display: flex;
    flex-direction: row;
}
.replib{
    display: flex;
    justify-content: center;
    color: rgb(227, 121, 1);
    font-family: serif;
    font-style: oblique;
    
}

a{
    color: black;
    text-decoration: none;
}

.logo1{
    height: 25px;
}

