.youtubefile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.youtubefont{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 40px;
}

.player{
    padding-right: 10px;
}